@font-face {
  font-family: raleway;
  src: url('../fonts/raleway-regular.ttf');
}
@font-face {
  font-family: montserrat;
  src: url('../fonts/montserrat-light.ttf');
}
body {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.page-header {
  width: 1920px;
  height: 1024px;
  background-image: url(../img/bg_header.jpg);
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid red;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 0 40px 0;
}
.page-header-navigation {
  height: 56px;
  margin: 0 0 285px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-header-navigation-logo {
  width: 181px;
  height: 56px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
}
.page-header-navigation-logo-svg {
  fill: #ffffff;
}
.page-header-navigation-logo-txt {
  color: #ffffff;
  font-family: 'raleway', 'arial', 'sans-serif';
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
  -ms-flex-item-align: center;
      align-self: center;
}
.page-header-navigation-menu {
  margin: 0 63px 0 219px;
}
.page-header-navigation-menu-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 22px 0 24px 0;
}
.page-header-navigation-menu-list-item {
  margin: 0 30px 0 0;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
}
.page-header-navigation-menu-list-item:nth-child(2) {
  color: #c7b299;
}
.page-header-navigation-bag {
  width: 18px;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 28px 0 0;
  background-color: transparent;
  padding: 0;
  border: none;
}
.page-header-navigation-bag-svg {
  fill: #ffffff;
}
.page-header-navigation-search {
  width: 24px;
  height: 56px;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: transparent;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  border: none;
  margin: 0;
  padding: 0;
}
.page-header-navigation-search:focus {
  width: 300px;
  height: 24px;
  -webkit-transition: width ls ease-out;
  transition: width ls ease-out;
  background-position: right;
}
.page-header-main {
  border: 2px solid green;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-header-main-pointer {
  width: 40px;
  height: 73px;
  border: 2px solid purple;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  margin: 0;
}
.page-header-main-txt {
  width: 589px;
  height: 261px;
  border: 2px solid blue;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  margin: 0 475px 0 475px;
}
.page-header-main-pagination {
  width: 100%;
  height: 11px;
  border: 2px solid blue;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 327px 0 0 0 ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
