@color: #ffffff;
@color-hover: #c7b299;
@color-services: #555555;
@color-services-txt: #8c8c8c;

@font-face {
    font-family: raleway-regular;
    src: url('../fonts/raleway-regular.ttf');
}

@font-face {
    font-family: raleway-medium;
    src: url('../fonts/raleway-medium.ttf');
}
@font-face {
    font-family: raleway-extrabold;
    src: url('../fonts/raleway-extrabold.ttf');
}

@font-face {
    font-family: raleway-semibold;
    src: url('../fonts/raleway-semibold.ttf');
}

@font-face{
    font-family: montserrat;
    src: url('../fonts/montserrat-light.ttf');
}

body{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.container{
    width: 1166px;
    margin: 0 auto;
    box-sizing: border-box;
}
.page-header{
    width: 100%;
    max-width: 1920px;
    height: 1024px;
    background-image: url(../img/bg_header.jpg);
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 40px 150px;
    &-navigation{
        height: 56px;
        margin: 0 0 285px 0;
        display: flex;
        justify-content: center;
        &-logo{
            width: 181px;
            height: 56px;
            margin: 0;
            display: flex;
            justify-content: space-between;
            text-decoration: none;
            color: @color;
            &-svg{
                fill: currentColor;
            }
            &-txt{
                font-family: 'raleway-regular', 'arial', 'sans-serif';
                font-size: 34px;
                line-height: 1.2;
                font-weight: 400;
                letter-spacing: -0.04em;
                align-self: center;
            }
        }
        &-logo:hover{
            color: @color-hover;
        }
        &-logo:active{
            color: @color;
        }
        &-menu{
            // width: 637px;
            margin: 0 33px 0 219px;
            &-list{
                list-style-type: none;
                display: flex;
                padding: 0;
                margin: 22px 0 24px 0;
                &-item{
                    margin: 0 30px 0 0;
                    font-family: 'montserrat','arial', sans-serif;
                    font-size: 14px;
                    line-height: 1.2;
                    font-weight: 300;
                    color: @color;
                    text-decoration: none;
                }
                &-item:hover{
                    color: @color-hover;
                }
                &-item:active{
                    color: black;
                }
            }
        }
        &-bag{
            width: 18px;
            align-self: center;
            margin: 0 28px 0 0;
            background-color: transparent;
            padding: 0;
            border: none;
            outline: none;
            &-svg{
                fill: @color;
            }
            &-svg:hover{
                fill: @color-hover;
            }
            &-svg:active{
                fill: black;
            }
        }
        &-form{
            width: 30px;
            height: 30px;
            position: relative;
            top: 15px;
            &-label{
                display: block;
                width: 100%;
                height: 100%;
            }
            &-label:hover .page-header-navigation-form-svg{
                fill:gold;
            }
            &-label:active .page-header-navigation-form-svg{
                fill:green;
            }

            &-svg{
                width: 100%;
                height: 100%;
                fill: @color;
            }
            &-input{
                width: 0;
                min-height: 0;
                padding: 5px;
                box-sizing: border-box;
                position: absolute;
                top: 39px;
                left: 0px;
                background-color: transparent;
                outline: none;
                border: none;
                font-size: 16px;
                font-family: Arial;
                color: @color;
                border-radius: 10px;
            }
            &-input:focus{
                display: block;
                width: 150px;
                min-height: 20px;
                transition: width 1s ease;
                border: 2px solid @color;
            }
        }
    }
    &-main{
        // height: 603px;
        margin: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        &-pointer{
            width: 40px;
            height: 73px;
            margin: 0;
            background-color: transparent;
            border: none;
            position: relative;
            outline: none;
        }
        &-pointer:after{
            content: "";
            display: inline-block;
            width: 49px;
            height: 49px;
            border-top: 2px solid @color;
            border-right: 2px solid @color;
            transform: rotate(45deg);
            position: absolute;
            top: 10px;
            left: -25px;
            opacity: 0.5;
        }
        &-pointer:hover:after{
            border-top: 5px solid @color-hover;
            border-right: 5px solid @color-hover;
        }
        &-pointer:first-child:after{
            transform: rotate(-135deg);
            left: 10px;
        }
        &-pointer:active:after{
            border-top: 2px solid @color;
            border-right: 2px solid @color;
        }
        &-txt{
            width: 589px;
            height: 261px;
            background-color: transparent;
            margin: 0 auto;
            color: @color;
            text-align: center;
            &-subtitle{
                font-family: 'raleway-regular', 'arial', 'sans-serif';
                font-size: 36px;
                line-height: 0.8;
                font-weight: 500;
                margin: 0;
            }
            &-title{
                font-family: 'raleway-extrabold', 'arial', 'sans-serif';
                font-size: 51px;
                letter-spacing: 0.4px;
                line-height: 0.8;
                font-weight: 800;
                margin: 14px 0 19px 0;
            }
            &-paragraph{
                font-family: 'montserrat','arial', sans-serif;
                font-size: 16px;
                line-height: 24px;
                font-weight: 300;
                margin: 0;
            }
            &-link{
                color: @color;
                display: block;
                width: 170px;
                padding: 21px;
                box-sizing: border-box;
                margin: 52px auto 0 auto;
                text-transform: uppercase;
                font-family: 'raleway-regular', 'arial', 'sans-serif';
                font-size: 14px;
                line-height: 14px;
                font-weight: 800;
                background-color: #998675;
                box-shadow: inset 0px -3px 0px 0px #736357;
                border-radius: 3px;
                text-decoration: none;
            }
            &-link:hover{
                color: @color-hover;
                background-color: @color;
            }
            &-link:active{
                color: @color;
                background-color: #998675;
            }
        }
        &-pagination{
            width: 100%;
            height: 11px;
            margin: 327px 0 0 0 ;
            display: flex;
            justify-content: center;
            padding: 0;
            &-item{
                display: block;
                width: 11px;
                height: 11px;
                background-color: @color;
                opacity: 0.5;
                border-radius: 50%;
                margin: 0 10px 0 0;
                border: 2px solid transparent;
                box-sizing: border-box;
            }
            &-item:hover{
                background-color: transparent;
                border: 2px solid @color;
                transform: scale(1.09); 
            // 15px*15px = scale(1.09)
            }
            &-item:active{
                background-color: @color;
                border: 2px solid @color;
                transform: scale(1.00);
            } 
        }
    }
} 

.services{
   width: 1166px;
   min-height: 213px;
   margin: 80px auto;
   display: flex;
   justify-content: center; 
    &-item{
        width: 266px;
        min-height: 213px;
        margin: 0 34px 0 0;
        &-svg{
            fill:@color-services;
            display: block;
            margin: 0 auto 29px auto;
        }
        &-title{
            font-family: 'raleway-semibold', 'arial', sans-serif;
            font-size: 22px;
            line-height: 1.2;
            font-weight: 600;
            color: @color-services;
            text-align: center;
            margin: 0 0 19px 0;
        }
        &-txt{
            font-family: 'montserrat', 'arial', sans-serif;
            font-size: 13px;
            line-height: 24px;
            font-weight: 300;
            color: @color-services-txt;
            text-align: center;
            margin: 0 ;
        }

    }
    &-item::after{
        content: "";
        display: block;
        width: 70px;
        height: 3px;
        background-color: #f1eee9;
        margin: 30px auto 0 auto;
    }
    &-item:nth-child(2){
        margin: 9px 34px 0 0;
    }
    &-item:nth-child(3){
        margin: 4px 34px 0 0;
    }
    &-item:nth-child(4){
        margin: 12px 0 0 0;
    }
    &-item:hover .services-item-svg{
        fill:@color-hover;
    }
    &-item:hover .services-item-title{
        color:@color-hover;
    }
    &-item:hover:after{
        background-color:@color-hover;
    }
}
.realization{
    background-color: #fbfaf8;
    padding: 83px 0 0 0;
    &-title{
        width: 500px;
        font-family: 'raleway-semibold', 'arial', sans-serif;
        font-size: 30px;
        line-height: 1.2;
        font-weight: 600;
        color: #555555;
        margin: 0 auto;
        text-align: center;
    }
    &-txt{
        width: 757px;
        font-family: 'montserrat', 'arial', sans-serif;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #8c8c8c;
        margin: 24px auto 40px auto;
        text-align: center;
    }
    &-images{
        height: 482px;
        width: 1166px;
        background-image: url('../img/realization_image1.jpg'),
                          url('../img/realization_image2.jpg'),
                          url('../img/realization_image3.jpg');
        background-size: 66%, 65%, 65%;
        background-repeat: no-repeat;
        background-position: bottom center, bottom left, bottom right;
    }
    &-images:hover{
        background-image: url('../img/realization_image2.jpg'),
                          url('../img/realization_image3.jpg'),
                          url('../img/realization_image1.jpg');
        background-size: 80%, 65%, 50%;                      
    }
}
.aside{
    max-width: 1920px;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    padding: 48px 0 49px 0;
    &-wrp{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-txt{
            width: 530px;
            &-title{
                font-family: 'raleway-medium', 'arial', sans-serif;
                font-size: 28px;
                line-height: 0.9;
                font-weight: 400;
                color: @color;
                margin: 0 0 8px 0;
                &-word{
                    color:@color-hover;
                }
            }   
            &-text{
                font-family: 'raleway-medium', 'arial', sans-serif; 
                // в psdetch - raleway-medium, а в marsy - montserrat, выбрала первое
                font-size: 18px;
                line-height: 1.2;
                font-weight: 300;
                color: #615855;
                margin: 0;
            }         
        }
        &-link{
            color: @color;
            display: block;
            width: 170px;
            padding: 20px;
            box-sizing: border-box;
            text-transform: uppercase;
            font-family: 'raleway-extrabold','arial',sans-serif;
            font-size: 14px;
            line-height: 14px;
            font-weight: 800;
            text-transform: uppercase;
            text-decoration: none;
            background-color: #998675;
            box-shadow: inset 0px -3px 0px 0px #736357;
            border-radius: 3px;
            text-align: center;
        }
        &-link:hover{
            background-color: @color;
            color: @color-hover;
        }

        &-link:active{
            background-color:  #998675;
            color: @color;
        }
    }
}
.projects{
    padding: 81px 0 80px 0;
    box-sizing: border-box;
    // border: 3px solid red;
    &-title{
        font-family: 'raleway-semibold','arial',sans-serif;;
        font-size: 30px;
        line-height: 1.2;
        font-weight: 600;
        color: #555555;
        text-align: center;
        margin: 0;  
    }
    &-txt{
        font-family: 'montserrat','arial', sans-serif;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #8c8c8c;
        text-align: center;
        margin: 24px auto 40px auto;  
        width: 757px; 
    }
    &-list{
        list-style-type: none;
        margin: 0 0 40px 0;
        padding: 0;
        display: flex;
        justify-content: center;
        &-item{
            display: block;
            margin: 0 10px 0 0;
            text-decoration: none;
            background-color: rgba(17,17,17,0.0);
            border: 1px solid #ebebeb;
            border-radius: 3px;
            padding: 10px 25px 8px 25px;
            font-family: 'montserrat','arial', sans-serif;
            font-size: 14px;
            line-height: 21px;
            font-weight: 300;
            color: #8c8c8c;
        }
        &-item:hover{
            background-color: #998675;
            color: @color;
        }
        &-item:active{
            background-color: rgba(17,17,17,0.0);
            color: #8c8c8c;
        }
    }
    &-cards{
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0 0 30px 0;
        &-item{
            width: 374px;
            height: 355px;
            // border: 1px solid black;
            box-sizing: border-box;
            list-style-type: none;
            background-color: #fbfaf8;
            position: relative;
            &-title{
                font-family: 'raleway-medium','arial', sans-serif;
                font-size: 20px;
                line-height: 1.2;
                font-weight: 500;
                color: #c7b299;
                margin: 30px 28px 14px 28px;                
            }

            &-txt{
                font-family: 'montserrat','arial', sans-serif;
                font-size: 14px;
                line-height: 20px;
                font-weight: 300;
                color: #d1d1d1;
                margin: 0 28px 27px 28px;                
            }
            &-save{
                display: block;
                width: 26px;
                height: 26px;
                margin: 0 28px 0 0;
                fill:transparent;
                position: absolute;
                top: 106px;
                left: 144px;
                &-icon:hover{
                    background-color: @color-hover;
                    fill:@color;
                }  
                &-icon:active{
                    fill: #362f2d;
                }                         
            }
            &-search{
                display: block;
                width: 26px;
                height: 25px;
                margin: 0;
                fill:transparent;
                position: absolute;
                top: 106px;
                right: 146px;
                &-icon:hover{
                    background-color: @color-hover;
                    fill:@color;
                }  
                &-icon:active{
                    fill: #362f2d;
                }   
            }
        }
        &-item:hover{
            background-color: #362f2d;
        }
        &-item:hover .projects-cards-item-title{
            color:@color;
        }
        &-item:hover .projects-cards-item-txt{
            color: #c7b299;
        }
        &-item:hover .projects-cards-item-save{
            fill:#c7b299;
        }
        &-item:hover .projects-cards-item-search{
            fill:@color;
        }
        &-item::after{
            content: "";
            display: block;
            border: 15px solid transparent;
            border-bottom: 10px solid  #fbfaf8;
            position: absolute;
            top: 212px;
            left: 25px;
            width: 30px;
            height: 10px;
            box-sizing: border-box;
        }
        &-item:hover::after{
            border-bottom: 10px solid  #362f2d;
        }
        &-item:hover .projects-cards-item-title::after{
            content: "";
            display: block;
            background-color: black;
            width: 374px;
            height: 237px;
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
            opacity: 60%;
        }
    }
    &-link{
        color: @color;
        display: block;
        width: 170px;
        padding: 20px;
        box-sizing: border-box;
        margin: 40px auto 0 auto;
        text-transform: uppercase;
        font-family: 'raleway-extrabold', 'arial', 'sans-serif';
        font-size: 14px;
        line-height: 14px;
        font-weight: 800;
        background-color: #998675;
        box-shadow: inset 0px -3px 0px 0px #736357;
        border-radius: 3px;
        text-decoration: none;
        text-align: center;
    }
    &-link:hover{
        background-color: @color;
        color: @color-hover;
        border: 0.5px solid @color-hover;
    }
    &-link:active{
        background-color:  #998675;
        color: @color;
    }
}
